@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

:root {
    --azul-escuro: #0A2540;
    --azul-claro: #3B7A96;
    --laranja-claro: #FF862A;
    --cinza-claro: #F1F1F1;
    --preto: #333333;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: var(--preto);
    background-color: var(--cinza-claro);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--azul-escuro);
    color: white;
    padding: 20px 0;
}

header .nav-link {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
}

header .nav-link:hover {
    color: var(--laranja-claro);
}

header .nav-link:focus {
    outline: 3px solid var(--laranja-claro);
}

section {
    padding-bottom: 5rem;
}

.inicio-fundo {
    background-image: none; /* Remove imagem */
    background-color: var(--cinza-claro); /* Fundo cinza */
    border-radius: 15px;
    width: 100%;
    height: 500px;
    padding: 40px;
    margin: 0 auto;
    color: var(--preto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.esquerda-conteudo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.esquerda-conteudo h1 {
    font-size: 3em;
    font-weight: 700;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.botao-inicio {
    background-color: var(--laranja-claro);
    border-radius: 30px;
    border: none;
    width: 14em;
    height: 3em;
    font-weight: 600;
    font-size: 1.2em

